<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="E-Mail" formControlName="username">
          <mat-error *ngIf="hasError('username', 'required')">E-Mail is required</mat-error>
          <mat-error *ngIf="hasError('username', 'email')">E-Mail is not correct</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" minlength="1" maxlength="10">
          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button [disabled]="!form.valid">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
