<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="search_box">
        <input type="text" matInput placeholder="Name" formControlName="className">&nbsp;
        <input type="text" matInput placeholder="Code" formControlName="classCode">
        <button mat-button type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>

    <table mat-table [dataSource]="geoClasses" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="section">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Section Name</th>
        <td mat-cell *matCellDef="let geoClass"> {{geoClass.section}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Name </th>
        <td mat-cell *matCellDef="let geoClass"> {{geoClass.name}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Code </th>
        <td mat-cell *matCellDef="let geoClass"> {{geoClass.code}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[7]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>


