:host {
  display: flex;
  justify-content: center;
  margin: 40px 0px 100px;
}

mat-card {
  min-width: 800px;
  min-height: 500px;
}

mat-card-title,
mat-card-content {
  text-align: center;
  justify-content: center;
}

mat-card-title {
  font-size: 0.99em;
  font-weight: bold;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

td {
  width: 30%;
  text-align: left;
}

.search_box {
  margin-bottom: 10px;
}
