/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}

html, body {
  height: 100%;
  margin: 0 !important;
}
