<mat-card>
  <mat-card-content>
    <div>
      Please select XLS file to upload
      <button mat-button color="warn" (click)="onClickToUpload()">
        <mat-icon>file_upload</mat-icon>
        Upload!
      </button>
      <input type="file" id="fileUpload" name="fileUpload"
             accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none;"/>
    </div>

    <table mat-table [dataSource]="jobs" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th class="id_cl" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let job"> {{job.id}} </td>
      </ng-container>

      <ng-container matColumnDef="ready">
        <th class="status_cl" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let job">
          <span class="status_in_progress" *ngIf="!job.ready">In Progress</span>
          <span class="status_failed" *ngIf="job.ready && job.error">Failed</span>
          <span class="status_success" *ngIf="job.ready && !job.error">Success</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="error">
        <th class="error_cl" mat-header-cell *matHeaderCellDef> Error </th>
        <td mat-cell *matCellDef="let job"> {{job.error}} </td>
      </ng-container>

      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let job">
          <div class="status_success" *ngIf="job.ready && !job.error">
            <a class="download_url" href="{{downloadUrl}}{{job.id}}">
              <mat-icon>file_download</mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[7]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>


