:host {
  display: flex;
  justify-content: center;
  margin: 40px 0px 100px;
}

mat-card {
  min-width: 800px;
  min-height: 500px;
}

mat-card-title,
mat-card-content {
  text-align: center;
  justify-content: center;
}

mat-card-title {
  font-size: 0.99em;
  font-weight: bold;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

td {
  text-align: left;
}

.id_cl {
  width: 150px;
}
.status_cl {
  width: 150px;
}
.error_cl {
  width: 550px;
}

.status_in_progress {
  color: #6b747d;
}

.status_failed {
  color: #d53c4c;
}

.status_success {
  color: #30a64a;
}

.download_url {
  color: #30a64a
}
