<router-outlet *ngIf="!(isLoggedIn$ | async)"></router-outlet>
<mat-sidenav-container *ngIf="isLoggedIn$ | async">
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list *ngIf="isTaskBackendMenuVisible$ | async">
      <a mat-list-item (click)="navigateToRegisterJob();sidenav.toggle()" type="button">
        <mat-icon class="icon">add_task</mat-icon>
        <span class="label">Register Job</span>
      </a>
      <a mat-list-item (click)="navigateToSearchGeoClasses();sidenav.toggle()" type="button">
        <mat-icon class="icon">table_view</mat-icon>
        <span class="label">Search Geo Classes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="menu-button" fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isMenuButtonVisible$ | async">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <span> Test task for Backend-Frontend developer</span>
      </div>
      <div class="logout-button">
        <button mat-button (click)="logout()">
          <mat-icon>input</mat-icon>
          Logout
        </button>
      </div>
    </mat-toolbar>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

